* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: NunitoSans, sans-serif;
  background-color: #e5e5e5;
}

.boldText {
  font-weight: 800;
}

.button {
  height: 50px;
  border-radius: 6px;
  border: none;
  box-shadow: 0 6px 12px #282b3114;
  cursor: pointer;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 1px;

  &_orange {
    background-image: url(/public/images/button/Base.jpg);
    color: #fff;
  }

  &_white {
    background: #f8f9fa;
    color: #282b31;
    font-weight: 600;
  }
}

